@page "{statusCode?}"
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ooops!!</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Error Details</h3>
    </div>
    <div class="box-body no-padding">
        <label asp-for="ErrorDetails" class="form-label col-sm-12"></label>
    </div>
</div>